<!DOCTYPE html>
<html>
	<head>
		<title>GIFStream</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/gif.css" />
		<script type="text/javascript">
			var timeout = true;
			var loadTimeout = setTimeout(
				function() {
					location.reload();
				},
				<%= gif.duration * 4 %>
			);
			var loadTime = new Date().getTime();
			var nextImage = function() {
				var diff = (new Date().getTime()) - loadTime;
				if(!timeout)
					return;
				timeout = setTimeout(
					function() {
						location.reload();
					},
					(diff > <%= gif.duration %>)
					?
					1
					:
					(<%= gif.duration %> - diff)
				);
			}
			var toggleTimeout = function(k) {
				if(k.charCode != 32)
					return;
				if(timeout)
					cancelTimeout();
				else
					location.reload();
			}
			var cancelTimeout = function() {
				window.clearTimeout(loadTimeout);
				window.clearTimeout(timeout);
				timeout = false;
			}
			window.onkeypress = toggleTimeout;
		</script>
	</head>
	<body>
		<div id="gif">
		  	<img
		  		src="<%= gif.src %>"
		  		onload="nextImage()"
		  		onerror="location.reload()"
		  		onabort="location.reload()"
		  	/>
			<span id="description">
				<a href="http://reddit.com<%= gif.permalink %>">
					<%= gif.title %>
				</a>
			</span>
			<br />
			<span id="author"><%= gif.author %></span>
			-
			<% var d = new Date(gif.created * 1000).toUTCString(); %>
			<span id="date"><%= d %></span>
		</div>
	</body>
</html>
