<!DOCTYPE html>
<html>
	<head>
		<title>GIFStream</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/gif.css" />
		<script type="text/javascript">
			var loadTime = new Date();
			var nextImage = function() {
				var now = new Date();
				var diff = now.getTime() - loadTime.getTime();
				setTimeout(
					function() {
						location.reload();
					},
					(diff > <%= gif.duration %>)
					?
					1
					:
					(<%= gif.duration %> - diff)
				);
			}
		</script>
	</head>
	<body>
		<div id="gif">
		  	<img
		  		width="<%= gif.width %>"
		  		height="<%= gif.height %>"
		  		src="<%= gif.src %>"
		  		onload="nextImage()"
		  	/>
		<span id="description">
			<a href="http://reddit.com<%= gif.permalink %>"><%= gif.title %></a>
		</span>
		<br />
		<span id="author"><%= gif.author %></span>
		-
		<% var d = new Date(gif.created * 1000).toUTCString(); %>
		<span id="date"><%= d %></span>
		</div>
	</body>
</html>