<!DOCTYPE html>
<html>
	<head>
		<title>GIF Server</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/gif.css" />
		<script type="text/javascript">
			var nextImage = function() {
				setTimeout(
					function() {
						location.reload();
					},
					<%= gif.duration %>
				);
			}
		</script>
	</head>
	<body>
		<div id="gif">
		  	<img
		  		width="<%= gif.width %>"
		  		height="<%= gif.height %>"
		  		src="/<%= gif.filename %>"
		  		onload="nextImage()"
		  	/>
		<span id="description"><%= gif.title %></span>
		<br />
		<span id="author"><%= gif.author %></span>
		-
		<% var d = new Date(gif.created * 1000).toUTCString(); %>
		<span id="date"><%= d %></span>
		<br />
		<span id="attribution">
			Origin: <a href="<%= gif.url %>"><%= gif.url %></a>
		</span>
		</div>
	</body>
</html>