<!DOCTYPE html>
<html>
	<head>
		<title>GIFStream</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/gif.css" />
		<script type="text/javascript">
			var timeout, loadTime, loadTimeout;
			var queueNextImage = function() {
				if(!timeout) return;
				var d = (new Date().getTime()) - loadTime;
				timeout = setTimeout(
					function() { location.reload();	},
					(d > <%= gif.duration %>) ? 1 : (<%= gif.duration %> - d)
				);
			}
			var cancelTimeout = function() {
				window.clearTimeout(loadTimeout);
				window.clearTimeout(timeout);
				timeout = false;
			}
			var toggleTimeout = function(k) {
				if(k.charCode != 32) return;
				if(timeout)	cancelTimeout(); else location.reload();
			}
			var init = function() {
				timeout = true;
				loadTime = new Date().getTime();
				loadTimeout = setTimeout(
					function() { location.reload(); },
					<%= gif.duration * 3 %>
				);
				window.onkeypress = toggleTimeout;
			}
			init();
		</script>
	</head>
	<body>
		<div id="gif">
		  	<img
		  		src="<%= gif.src %>"
		  		onload="queueNextImage()"
		  		onerror="location.reload()"
		  		onabort="location.reload()"
		  	/>
			<span id="description">
				<a href="http://reddit.com<%= gif.permalink %>">
					<%= gif.title %>
				</a>
			</span>
			 - 
			<span id="author"><%= gif.author %></span>
			 -
			<% var d = new Date(gif.created * 1000).toUTCString(); %>
			<span id="date"><%= d %></span>
		</div>
	</body>
</html>
